@import '../../colors/colors.css';

button {
  display: flex;
  place-items: center;
  cursor: pointer;
  gap: 8px;
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--white-color);
}

button:focus {
  outline: none;
}

.primary {
  border: none;
}

.buttonWrapper {
}

.cancelBtn, .deleteBtn, .submitBtn {
  color: var(--gray-color); 
  padding: 8px 16px;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
}

.valid {
  background-color: blue;
}
