:root {
  --white: #ffffff;
  --gray: #808080;
}

button {
  display: flex;
  place-items: center;
  cursor: pointer;
  gap: 8px;
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--white);
}

button:focus {
  outline: none;
}

.primary {
  border: none;
}

.buttonWrapper {
  padding: 10px;
}

.cancelBtn, .deleteBtn, .submitBtn {
  color: var(--gray); 
  padding: 8px 16px;
  border: 1px solid var(--gray);
  border-radius: 5px;
}

.valid {
  background-color: blue;
}
