@import "../../colors/colors.css";

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
}

.name {
  font-size: 2rem;
  font-weight: 600;
}

.detailsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.detailsWrapper > * {
  text-align: center;
}
