.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.name {
  font-size: 2rem;
  font-weight: 600;
}

.detailsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.detailsWrapper > * {
  display: flex;
  gap: 5px;
}
