@import '../../colors/colors.css';

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 12px 0px;
  box-shadow: 0px 0px 5px var(--primary-shadow-color);
  border-radius: 10px;
}

.title {
  text-align: center;
}
