@import "./colors/colors.css";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--neutral-color) inset !important;
  -webkit-text-fill-color: var(--black-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  width: 100%;
}
